<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>makeStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Controller</description>
    <display-name>MarketController</display-name>
    <servlet-name>MarketController</servlet-name>
    <servlet-class>jsp.market.action.MarketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Controller</description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>jsp.search.action.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>*.so</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Controller</description>
    <display-name>StoreController</display-name>
    <servlet-name>StoreController</servlet-name>
    <servlet-class>jsp.store.action.StoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreController</servlet-name>
    <url-pattern>*.eo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Controller</description>
    <display-name>VideoController</display-name>
    <servlet-name>VideoController</servlet-name>
    <servlet-class>jsp.video.action.VideoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoController</servlet-name>
    <url-pattern>*.vo</url-pattern>
  </servlet-mapping>
</web-app>